<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Site Under contruction. Come back later !</h2> -->
<h1 style="display:none">
    Welcome to {{ title }}!
  </h1>
<div class="container-fluid">
  <br>
  <br>
  <div class="container">
      
          <hr>
              <div class="text-center center-block">
                  <p class="text-success">Connect Me on ..</p>
                  <br />
                      <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-4x social"></i></a>
                    <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-4x social"></i></a>
                    <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-4x social"></i></a>
                    <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-4x social"></i></a>
                    <a href="mailto:bootsnipp@gmail.com"><i id="social-insta" class="fa fa-instagram fa-4x social"></i></a>
                    <a href="mailto:bootsnipp@gmail.com"><i id="social-git" class="fa fa-github fa-4x social"></i></a>
      </div>
          <hr>
      </div>
  
  <div class="row text-center">
    <img class="img-circle" style="width:250px;height:250px;" src="assets/Images/SeattlePic.jpeg"><br><br> 
    <span class="lead text-success">Naveen Patancheru</span>
  </div>
  <br>
  <br>
  <br>
  <div class="row bg-light text-dark text-center">
    <div class="span7">
      <blockquote >
        <small class="text-success"><cite></cite>About Me </small>
         <!-- <p class="text-primary" >
  I'm passionate traveller, Coffee lover and unintentional software professional. I think more rationally rather than being emotionally bounded. I'm a generalist. I have been working as programmer. I respect open-source developers. I'm striving to become better in everything I do and I think of myself as being a dedicated person. I like challenges because they teach me, they give me new experience, experience that I might use in the future.
    </p> -->
    <!-- <h4 >
        I'm passionate traveller, Coffee lover and unintentional software professional. 
       
      </h4> -->
      </blockquote>
      <!-- <div class="typewriter">
          <h4>I'm passionate traveller, Coffee lover and unintentional software professional <br>
          </h4>
          <h4>I'm passionate traveller, Coffee lover and unintentional software professional <br>
          </h4>

        </div> -->
        <!-- <div class="newtypewriter" id="typedtext"></div> -->
        <div class="css-typing">
          
            <p>
                I'm passionate traveller, Coffee lover and unintentional software professional.
            </p>
            <p>
                I think more rationally rather than being emotionally bounded. I'm a generalist. I have been working as programmer. 
            </p>
            <p>
                I like challenges because they teach me, they give me new experience, experience.
            </p>
          </div>
  </div>
  </div>
 
  </div>
  <br>
  <br>
  
  <div class="container-fluid border text-center mt-4 w-50">  
<!-- 
             <ul class="nav bg-light" role="tablist" id="menu-main">     
         <li class="nav-item">
             <a class="nav-link" routerLink="/about" routerLinkActive="active"  >Home</a>  
         </li>
         <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active" >About</a>
         </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active" >Profile</a>
        </li>
         <div class="panel rounded">
         </div>
      </ul> -->
       
      
           
           <!-- <ul class="nav navbar-nav text-center bg-dark" routerLinkActive="active">
               <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active"  >Home</a></li>
               <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active" >About</a></li>
               <li class="nav-item"><a class="nav-link" routerLink="/profile" routerLinkActive="active" >Profile</a></li>
           </ul> -->

           <nav class="menu-navigation-icons">
              <a href="#" class="menu-magenta"><i class="fa fa-tasks"></i><span>Projects</span></a>
              <a href="#" class="menu-blue"><i class="fa fa-history"></i><span>Experience</span></a>
              <a href="#" class="menu-green"><i class="fa fa-laptop"></i><span>Technologies</span></a>
              <a href="#" class="menu-yellow"><i class="fa fa-globe"></i><span>Travel</span></a>
              <a href="#" class="menu-red"><i class="fa fa-heart"></i><span>Likes</span></a>
          </nav>
             <br>
             <br>
             <br>
  <!-- <div class="container-fluid">
    <div class="row-fluid"><a class="nav-link" routerLink="/about" routerLinkActive="active"  >Home</a></div>
   
  </div> -->
   <!-- <router-outlet></router-outlet> -->
    <!-- </div> -->
   </div>
   <div>
      <section id="about">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <!-- <h2 class="section-heading">About Me</h2> -->
                      <h5 class="section-subheading text-success" style="font:italic;" >I have mentioned my achievements through timeline. I don't want this timeline crap. Haha.</h5>
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-lg-12">
                      <ul class="timeline">
                          <li>
                              <div class="timeline-image">
                                  <img class="img-circle img-responsive" src="assets/Images/SeattlePic.jpeg" alt="">
                              </div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h5>2008-2012</h5>
                                      <h5 class="subheading">Under Garduation <i id="social-git" class="fa fa-graduation-cap"></i></h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-muted">I've joined my under graduation in 2012 in the field of computer science. I have learned how different subjects related to computers during my course which helped in developing my career later</p>
                                  </div>
                              </div>
                          </li>
                          <li class="timeline-inverted">
                              <div class="timeline-image">
                                  <img class="img-circle img-responsive" src="" alt="">
                              </div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h5>October 2012</h5>
                                      <h5 class="subheading">Joined AppScienti <i class="fa fa-users" aria-hidden="true"></i></h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-muted">After finishing my graduation from JNTU , I have received an oppurtunity from a start up compnay "AppScient". I have out in my therotical knwoledge into practicle in this company</p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-image">
                                  <img class="img-circle img-responsive" src="" alt="">
                              </div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h5>Jan 2015 - 2016</h5>
                                      <h5 class="subheading">Masters Education (U.C.M) <i id="social-git" class="fa fa-graduation-cap"></i></h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-muted"> I have got an admission from University of central missouri in the field of computer science.To pursue my higher education i came to united states and pursued my masters. Learnt lot of new things in programming</p>
                                  </div>
                              </div>
                          </li>
                          <li class="timeline-inverted">
                              <div class="timeline-image">
                                  <img class="img-circle img-responsive" src="" alt="">
                              </div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h5>July 2016</h5>
                                      <h5 class="subheading">Joined CGI <i class="fa fa-users" aria-hidden="true"></i></h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-muted"> After pursuing masters degree from U.C.M, I was offered software developer position from recognized organisation CGI. I have explored many technologies while working with CGI.  </p>
                                  </div>
                              </div>
                          </li>
                          <li class="timeline-inverted">
                              <div class="timeline-image">
                                  <h4>Stay
                                      <!-- <br>Of Our -->
                                      <br>Connected!!</h4>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </section>
   </div>
  <div class="container-fluid"> 
      <div class="row text-center">
          <h3 class="text-danger">Come back Later !</h3>
          <img class="img-circle" style="width:500px;height:500px;" src="assets/Images/UnderContruction.png"><br><br> 
          <span class="lead">Naveen Patancheru</span>
        </div>
      <!-- <div class="row-fluid text-center">
          <h3 class="text-danger">Come back Later !</h3>
          <div class="span10">
        <img class="img-circle"  src="assets/Images/UnderContruction.png">
      </div>
        <span class="lead">Naveen Patancheru</span>
      </div> -->
    </div>