<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Site Under contruction. Come back later !</h2> -->
<h1 style="display:none">
    Welcome to {{ title }}!
  </h1>
<div class="container-fluid">
  <br>
  <br>
  <div class="container">

          <!-- <hr> -->
              <div class="text-center center-block">
                  <p class="text-primary"><strong>Connect Me on ..</strong> </p>
                  <br />
                      <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-4x social"></i></a>
                    <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-4x social"></i></a>
                    <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-4x social"></i></a>
                    <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-4x social"></i></a>
                    <a href="mailto:bootsnipp@gmail.com"><i id="social-insta" class="fa fa-instagram fa-4x social"></i></a>
                    <a href="https://github.com/Naveenpatancheru"><i id="social-git" class="fa fa-github fa-4x social"></i></a>
                    <span style="float: right" class="text-success"><strong style="color:orange;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">No.Of Visits</strong> &nbsp; <i class="fa fa-eye"></i>:&nbsp;{{counter}} </span>
          <hr>
          
      </div>

  <div class="row text-center">
    <img class="img-circle" style="width:250px;height:250px;" src="assets/Images/SeattlePic.jpeg"><br><br>
    <span class="lead text-success"><strong>Naveen Patancheru.</strong></span>
  </div>
  <br>
  <br>
  <br>
  <div class="row bg-light text-dark text-center">
    <div class="span7">
      <blockquote >
        <small class="text-success"><strong><cite></cite> About Me</strong> &nbsp; <i id="social-git" class="fa fa-user"></i></small>
       <br>
        <div class="css-typing">

                <p>
                 <strong>  I'm passionate traveller, Coffee lover and unintentional software professional.</strong>
                </p>
                <p>
                        <strong>   I think more rationally rather than being emotionally bounded. I'm a generalist. I have been working as programmer.</strong>
                </p>
                <p>
                        <strong>  I like challenges because they teach me, they give me new experience, experience.</strong>
                </p>
              </div>
         <!-- <p class="text-primary" >
  I'm passionate traveller, Coffee lover and unintentional software professional. I think more rationally rather than being emotionally bounded. I'm a generalist. I have been working as programmer. I respect open-source developers. I'm striving to become better in everything I do and I think of myself as being a dedicated person. I like challenges because they teach me, they give me new experience, experience that I might use in the future.
    </p> -->
    <!-- <h4 >
        I'm passionate traveller, Coffee lover and unintentional software professional.

      </h4> -->
      </blockquote>
      <!-- <div class="typewriter">
          <h4>I'm passionate traveller, Coffee lover and unintentional software professional <br>
          </h4>
          <h4>I'm passionate traveller, Coffee lover and unintentional software professional <br>
          </h4>

        </div> -->
        <!-- <div class="newtypewriter" id="typedtext"></div> -->

  </div>
  </div>

  </div>
  <br>
  <br>

  <div class="container-fluid border text-center mt-4 w-50">
<!--
             <ul class="nav bg-light" role="tablist" id="menu-main">
         <li class="nav-item">
             <a class="nav-link" routerLink="/about" routerLinkActive="active"  >Home</a>
         </li>
         <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active" >About</a>
         </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active" >Profile</a>
        </li>
         <div class="panel rounded">
         </div>
      </ul> -->



           <!-- <ul class="nav navbar-nav text-center bg-dark" routerLinkActive="active">
               <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active"  >Home</a></li>
               <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active" >About</a></li>
               <li class="nav-item"><a class="nav-link" routerLink="/profile" routerLinkActive="active" >Profile</a></li>
           </ul> -->

           <nav class="menu-navigation-icons">
              <a  routerLink="/Projects" routerLinkActive="active"  class="menu-magenta hvr-wobble-to-top-right"><i class="fa fa-tasks"></i><span>Projects</span></a>
              <a routerLink="/Experience" routerLinkActive="active"  class="menu-blue hvr-wobble-to-top-right"><i class="fa fa-history"></i><span>Experience</span></a>
              <a  routerLink="/Technologies" routerLinkActive="active"    class="menu-green hvr-wobble-to-top-right"><i class="fa fa-laptop"></i><span>Technologies</span></a>
              <a routerLink="/Travel" routerLinkActive="active"   class="menu-yellow hvr-wobble-to-top-right"><i class="fa fa-globe"></i><span>Travel</span></a>
              <a routerLink="/LikesComponent" routerLinkActive="active" class="menu-red hvr-wobble-to-top-right"><i class="fa fa-heart"></i><span>Likes</span></a>
          </nav>
             <br>
             <br>
             <br>
  <!-- <div class="container-fluid">
    <div class="row-fluid"><a class="nav-link" routerLink="/about" routerLinkActive="active"  >Home</a></div>

  </div> -->
   <router-outlet></router-outlet>
    <!-- </div> -->
   </div>
   
   <hr>

   <div>
      <section id="about">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h4 class="section-heading" style="color: orange">My career TimeLine <i class="fa fa-history"></i></h4>
                      <h6  style="color: orange" style="font:italic;color: orange" >I have mentioned my achievements through timeline. I don't want this timeline crap. Haha.<i class="fa fa-smile-o"></i><i class="fa fa-smile-o"></i></h6>
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-lg-12">
                      <ul class="timeline">
                          <li>
                              <div class="timeline-image">
                                  <img class="img-circle img-responsive" src="assets/Images/SeattlePic.jpeg" alt="">
                              </div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h5 style="color:green"> 2008-2012</h5>
                                      <h5 class="subheading" style="color:orange">Under Garduation <i id="social-git" class="fa fa-graduation-cap"></i></h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-dark">I've joined my under graduation in 2012 in the field of computer science. I have learned how different subjects related to computers during my course which helped in developing my career later</p>
                                  </div>
                              </div>
                          </li>
                          <li class="timeline-inverted">
                              <div class="timeline-image">
                                  <img class="img-circle img-responsive" src="assets/Images/Cali_640x640.jpeg" alt="">
                              </div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h5 style="color:green"> October 2012</h5>
                                      <h5 class="subheading" style="color:orange">Joined AppScienti <i class="fa fa-users" aria-hidden="true"></i></h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-dark" >After finishing my graduation from JNTU , I have received an oppurtunity from a start up compnay "AppScient". I have out in my therotical knwoledge into practicle in this company</p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-image">
                                  <img class="img-circle img-responsive" src="assets/Images/BW3_640x640.jpeg" alt="">
                              </div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h5 style="color:green">Jan 2015 - 2016</h5>
                                      <h5 class="subheading" style="color:orange">Masters Education (U.C.M) <i id="social-git" class="fa fa-graduation-cap"></i></h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-dark"> I have got an admission from University of central missouri in the field of computer science.To pursue my higher education i came to united states and pursued my masters. Learnt lot of new things in programming</p>
                                  </div>
                              </div>
                          </li>
                          <li class="timeline-inverted">
                              <div class="timeline-image">
                                  <img class="img-circle img-responsive" src="assets/Images/Selfie.JPG" alt="">
                              </div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h5 style="color:green">July 2016</h5>
                                      <h5 class="subheading" style="color:orange">Joined CGI <i class="fa fa-users" aria-hidden="true"></i></h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-dark"> After pursuing masters degree from U.C.M, I was offered software developer position from recognized organisation CGI. I have explored many technologies while working with CGI.  </p>
                                  </div>
                              </div>
                          </li>
                          <li class="timeline-inverted">
                              <div class="timeline-image">
                                  <h4>Stay
                                      <!-- <br>Of Our -->
                                      <br>Connected!!</h4>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </section>
      
   </div>
